*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background_image.jpg);
}
.container{
    background-color: rgba(0, 0, 0, 0.267);
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
    width:  1500px;
    left: 100px;
    top: 30px;
    border-radius: 0px;
}
.divmargin{
    margin-bottom: 10px;
}



p{
    font-family: Sorts Mill Goudy;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}
form{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    width: 20vw;
    height: 550px;
    margin-top: 10px;
    justify-content: center;
    border-radius: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

form>div{
    padding-left: 23%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0);
    
}
#submit, #reset{
    margin: 2px;
    width: 50px;
    background-color: red;
    border: 3px solid red;
    border-radius: 12px;
}

.netflix{
    display: flex;
    font-family: Bowlby One SC;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    
}
.flix{
    color: red;
}
/* button{
    background-color: red;
    border: 3px solid red;
    border-radius: 12px;
} */